<div class="headers">
  <h1>Welcome to Costumo!</h1>
</div>

<div class="home-group">
    <% @costumes.each do |costume| %>
        <%= link_to costume_path(costume) do %>
      <div class="home-card">
        <% if costume.photos.attached? %>
          <img alt="<%= costume.title %>" src="<%= cl_image_path costume.photos.first.key %>" />
        <% else %>
          <img alt="<%= costume.title %>" width="100" height="100" src="" />
        <% end %>
        <div class="home-card-infos">
          <h6> <%= truncate(costume.title, length:25)%> </h6>
          <h6>$ <%= costume.price %> / day</h6>
        </div>
        <% @rating = (costume.average_rating) %>
        <h6>Rating <%= "#{@rating}" %>
          <div class="Stars" style="--rating: <%= "#{@rating}" %>;" aria-label="Rating of this product out of 5."></div>
        </h6>
      </div>
    <% end %>
  <% end %>
</div>
