<% if @costumes.empty? %>
    <br>
    <h4>Your search returned no results. Please try again.</h4>
    <br>
    <%= link_to 'See all costumes', root_path, class: "btn btn-primary ml-1" %>
<% else %>
  <div class="home-group">
    <% @costumes.each do |costume| %>
      <%= link_to costume_path(costume) do %>
        <div class="costume-card">
          <% if costume.photos.attached? %>
           <!-- Populate image -->
          <div class="image-box" style="background-image: url('<%= cl_image_path costume.photos.first.key, gravity: :center, width: 250, height: 350, crop: :fill %>')"> </div>
           <% else %>
           <!-- Populate placeholder image -->
          <div class="image-box" style="background-image: url('<%= image_path("background.jpg") %>')"> </div>
          <% end %>
          <div class="info-box">
            <p> <%= truncate(costume.title, length: 20) %> </p>
            <p id="price"> $<%= costume.price %>/day </p>
          </div>
          <div class="home-card-infos">
            <% @rating = (costume.average_rating) %>
            <h6><%= @rating.nil? ? 'Not rated' : "Rating #{@rating}" %>
              <div class="Stars" style="--rating: <%= "#{@rating}" %>;" aria-label="Rating of this product out of 5."></div>
            </h6>
          </div>
      </div>
      <% end %>
    <% end %>
  </div>
<% end %>
