<h1>Costumes#home</h1>
<p>Find me in app/views/costumes/home.html.erb</p>


<div class="costume-group">
    <% @costumes.each do |costume| %>
        <%= link_to costume_path(costume) do %>
      <div class="costume-card">
        <% if costume.photos.attached? %>
          <img alt="<%= costume.title %>"  src="<%= cl_image_path costume.photos.first.key %>" />. <!-- , width: 120, height: 100%, crop: :fit -->
        <% else %>
          <img alt="<%= costume.title %>" width="100" src="" />
        <% end %>
        <div class="costume-card-infos">
          <h3> <%= costume.title %> </h3>
          <p><%= costume.description %></p>
          <p><%= costume.price %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
