<div class="d-flex justify-content-between align-items-center">
  <h1><%= @costume.title %></h1>
  <div>
    <% if current_user == @costume.user  %>
      <%= link_to "Edit Costume", edit_costume_path, method: :get, class: "btn btn-outline-dark px-3" %>
      <%= link_to costume_path(@costume), class: "btn btn-outline-danger ml-2",
          method: :delete,
          data: { confirm: "Deleteing #{@costume.title}.\nAre you sure?" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
    <% end %>
  </div>
</div>

<p><%= @costume.description %></p>
<p><em>$<%= @costume.price %></em> per day</p>

<!-- [calendar, description] | FLEXBOX -->
<div class="d-flex justify-content-start align-items-center">
  <!-- calendar -->
  <div id='costume-booking-dates' data-unavailable="<%= @costume.unavailable_dates.to_json %>">
    <% if true %>
      <%= simple_form_for([@costume, @booking]) do |f| %>
        <div class="d-flex align-items-center">
          <%= f.input :date_start, as: :string, type: :text, label: "Book From"%>
          <span class="ml-2"> </span>
          <%= f.input :date_end, as: :string, type: :text, label: "To"  %>
        </div>
        <%= f.submit "Book", class: "btn btn-primary px-4 " %>
        <%= link_to 'Back', :back, class: "btn btn-info ml-2" %>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Display of costume photos -->
<hr>
<div class="d-flex justify-content-start align-items-start flex-wrap  ">
  <% if @costume.photos.attached? %>
    <% @costume.photos.each do |pic| %>
      <img class="m-1" alt="<%= @costume.title %>" src="<%= cl_image_path pic.key %>"
          style="height: 200px; width: 200px; object-fit: contain; box-shadow: 0px 0px 4px darkgrey" />
    <% end %>
  <% else %>
    <br><h4>No photos attached.</h4>
  <% end %>
</div>

