
<h1>Edit your current booking for <i><%= @booking.costume.title %></i></h1>
<p>You currently booked <i><%= @booking.costume.title %></i> from <%= @booking.date_start.strftime("%-d %b %Y") %> to <%= @booking.date_end.strftime("%-d %b %Y") %> </p>
<p>Change the booking date below: </p>


  <!-- image carousel -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @booking.costume.photos.each do |pic| %>
      <div class="carousel-item  <%= 'active' if @booking.costume.photos[0] == pic %>">
        <img src="<%= cl_image_path pic.key %>" class="d-block w-100" alt="Costume image"
        style="height: 300px; width: 100%; object-fit: contain;">
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="d-flex justify-content-around mt-4">
  <!-- calendar -->
  <div class="col-6">
    <div id='costume-booking-dates' data-unavailable="<%= @booking.costume.unavailable_dates_edit(@booking).to_json %>">
      <%= simple_form_for([@booking]) do |f| %>
        <div class="d-flex align-items-center">
          <%= f.input :date_start, :as => :string, input_html: { value: f.object.date_start.strftime("%d-%m-%Y") } %>
          <span class="ml-2"> </span>
          <%= f.input :date_end, as: :string, type: :text, label: "To", input_html: { value: f.object.date_end.strftime("%d-%m-%Y") }  %>
        </div>
        <%= f.submit "Update Booking", class: "btn btn-primary mt-2" %>
      <% end %>
    </div>
  </div>
  <!-- price & description -->
  <div class="col-6">
    <div>
      <p><em>$<%= @booking.costume.price %></em> per day</p>
      <h2 id="final_price" data-rate="<%= @booking.costume.price %>"> $<em><%= %></em> total</h2>
      <div class="text-justify mt-3">
        <h5>About the costume:</h5>
        <%= @booking.costume.description %>
      </div>
    </div>
  </div>
</div>
