<h1>Submit feedback for <i><%= @booking.costume.title %></i></h1>
<p>You booked <i><%= @booking.costume.title %></i> from <%= @booking.date_start.strftime("%-d %b %Y") %> to <%= @booking.date_end.strftime("%-d %b %Y") %> </p>
<p>Please provide us your feedback below.</p>

<div class="shadow p-2">
  <%= simple_form_for(@booking, url: update_rating_path(@booking)) do |f| %>
    <div>
      <%= f.input :feedback %>
      <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>

      <%#= f.collection_radio_buttons :rating, [[1], [2], [3], [4], [5]], :first, :last, item_wrapper_tag: false, boolean_style: :inline, label: "Rating out of 5" do |b| %>
        <!-- <scan class="ml-4"><#%= b.radio_button + b.label %>  </scan> -->
      <%# end %>

    </div>
    <%= f.submit "Submit Feedback", class: "btn btn-primary mt-2" %>
  <% end %>
</div>
