<!DOCTYPE html>
<html>
  <head>
    <title>Costumo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <!-- add the following to render the component partials -->
    <%= render "shared/navbar"  %>
    <%= render 'shared/flashes' %>

    <!-- Banner component is only loaded for root page, it is outside of container on purpose -->
    <% if current_page?(root_path) %>
      <%= render 'shared/banner' %>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        Costumo <i class="fas fa-heart"></i>
      </div>
    </div>
  </body>
</html>
